.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding: 5vmin;
  width: 100%;
}

.button {
  align-items: center;
  background-color: white;
  border-radius: 0px;
  border: 2px dashed lightcoral;
  color: lightcoral;
  cursor: pointer;
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  min-height: 10vmin;
  min-width: 20vmin;
  padding: 8px;
}

.button:hover {
  background-color: lightcoral;
  border: 2px dashed white;
  color: white;
}

.buttonLoading {
  align-items: center;
  background-color: gainsboro;
  border: 2px dashed white;
  color: white;
  cursor: default;
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  min-height: 10vmin;
  min-width: 20vmin;
  padding: 8px;
}

.dropContainer {
  align-items: center;
  border: 5px dashed white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  margin: 5vmin;
  padding: 5vmin;
  width: 100%;
}

.header {
  width: 100%;
}

.image {
  background-color: transparent;
  border: 2px dashed white;
}

.imageContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imagesContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  width: 100%;
}

.label {
  margin-bottom: 2.5vmin;
  margin-top: 2.5vmin;
  text-align: center;
}

.text {
  font-size: 1.5em;
  text-align: center;
}

.title {
  font-family: 'Monoton', cursive;
  font-size: 3em;
  margin-bottom: 2.5vmin;
  text-align: center;
}

.subtitle {
  font-size: 2em;
  text-align: center;
}

@media only screen and (min-width: 786px) {
  .imagesContainer {
    flex-direction: row;
  }
}
